<div class="login">
    <div class="background">
      <div class="loginIcon align">
        <img  alt="user icon" src="../../assets/user-icon.png">
      </div>
      <div class="align">
        <form [formGroup]="formLogin">
          <h1 class="align">User Login</h1>
          <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="Email" formControlName="email" name="email" required>
            <mat-icon matPrefix>email</mat-icon>
          </mat-form-field>
          <p class="form-error" *ngIf="formLogin.controls.email.hasError('email') && formLogin.controls.email.touched">Input must be a valid email address</p>
          <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="Password" formControlName="password" type="password" name="password" required />
            <mat-icon matPrefix>lock</mat-icon>
          </mat-form-field>
          <p class="form-error" *ngIf="formLogin.controls.password.hasError('minLength(8)') && formLogin.controls.password.touched">Password must be at least 8 characters long</p>
          <button mat-raised-button type="submit" color="primary" (click)="login()">Login</button>
        </form>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>