.login {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, blue , rgb(145, 24, 74));
    padding-top: 10vh;
    .background {
        margin-left: 10%;
        width: 80%;
        height: 70%;
        padding-top: 10px;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        border-radius: 10px;
        .loginIcon {
            width: 30%;
            img {
                width: 100%;
                height: 100%;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius: 50%;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .form-error {
                color: red;
            }
            .example-full-width {
                width: 80%;
            }
            mat-form-field {
                padding: 5px;
                background-color: rgb(243, 243, 243);
                min-width: 25vw;
                border-radius: 20px;
                margin: 5px;
            }
            .mat-raised-button {
                margin-top: 10px;
                background-color: rgb(24, 133, 24);
                color: white;
                border-radius: 20px;
                height: 50px;
            }
        }
    }   
}

.align {
    align-self: center;
}

h1 {
    margin-bottom: 50px;
    font-size: xx-large;
}