.example-card {
    margin-bottom: 15px;
    width: 400px;
    background-color:whitesmoke;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .button-margin {
    margin-bottom: 5px;
  }

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
 }

 .main-div{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.text {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 40px;
}

mat-form-field {
  width: 100% !important;
}

::ng-deep .mat-form-field-infix {
  width: 350px !important;
}