<div class="main-div">
<button mat-button (click)="openDialog()" class="button-margin">Add post</button>
<div *ngFor= "let post of postArray">
    <mat-card class="example-card">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title> {{post.title}} </mat-card-title>
          <mat-card-subtitle> {{post.author}} on {{post.postedOn | date: 'EEEE, MMMM d, y, h:mm:ss a'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p> {{post.body}} </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>    
</div>


