<header>
    <div class="banner">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <div class="left">
                    <button mat-button (click)="onClickHistory()">History</button>
                    <button mat-button (click)="onClickUpload()">Upload</button>
                    <button mat-button (click)="onClickLogout()">Logout</button>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</header>
