<div class="history">
<table class="mat-elevation-z8 history-table" mat-table [dataSource]="dataSource">
    <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Image name </th>
        <td mat-cell *matCellDef="let imageHistory"> {{imageHistory.name}} </td>
    </ng-container>

    <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef> Size </th>
        <td mat-cell *matCellDef="let imageHistory"> {{imageHistory.size}} </td>
    </ng-container>

    <ng-container matColumnDef="recognitionResult">
        <th mat-header-cell *matHeaderCellDef> Recognition Result </th>
        <td mat-cell *matCellDef="let imageHistory"> {{imageHistory.recognitionResult}} </td>
    </ng-container>

    <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef> Download Link </th>
        <td mat-cell *matCellDef="let imageHistory"> {{imageHistory.link}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>
</div>