.history {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  .history-table {
    width: 70%;
    //height: 70%;
  }

  .mat-column-name,
  .mat-column-recognitionResult {
    width: 25%;
  }

  .mat-column-size {
    width: 10%;
  }

  .mat-column-link {
    width: 30%;
  }
}
