

.upload {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: lightgray;
    padding-top: 100px;

    
    .btn-align{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .btn-customize{
        width: 200px;
        height: 40px;
    }

    .img-customize{
        padding-top: 50px;
        width: 600px;
        height: 400px;

    }

   

}



