<div class="upload">
    <div class="btn-align">
        <button  mat-raised-button color="primary" (click)="fileUpload.click()"> Upload </button>
        <input style="display: none;"  
        type="file" 
        (change)="onFileSelected($event)" 
        #fileUpload>
    </div>
    <img class="img-customize" [src]="url" alt="image to load">
</div>








